.card {
    background-color: rgb(2, 184, 197);
    color: #111;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.foto_perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nome_perfil {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;

    margin-bottom: 10px;
}

.links {
    width: 320px;
    display: flex;
    margin: 16px;
}

.logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
}

.nome_acesso {
    display: flex;
    width: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}

